.wrapper {
  text-align: center;
  margin: 0 auto;
  background-color: var(--white-color);
  border-radius: 10px;
  margin: 0 auto;
  max-width: 620px;
  min-height: 470px;
  & img {
    padding-top: 100px;
  }
  & h2 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
    padding: 40px 0;
  }
}
